# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.The-Templar-Knight.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Adam\Documents\GitHub\The-Templar-Knight\.idea\.idea.The-Templar-Knight\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
